<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LogInRegistrationFormEx</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>message</param-name>
  	<param-value>context-value</param-value>
  </context-param>
  <servlet>
		<servlet-name>EmployeeRegistrationServlet</servlet-name>
		<servlet-class>com.examples.java.servlet.EmployeeRegistrationServlet</servlet-class>
		<init-param><param-name>message</param-name><param-value>registration-config-value</param-value></init-param>
	</servlet>
	
	<servlet>
		<servlet-name>EmployeeAuthenticateServlet</servlet-name>
		<servlet-class>com.examples.java.servlet.EmployeeAuthenticateServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EmployeeHomeServlet</servlet-name>
		<servlet-class>com.examples.java.servlet.EmployeeHomeServlet</servlet-class>
	</servlet>	
	
	<servlet-mapping>
		<servlet-name>EmployeeRegistrationServlet</servlet-name>
		<url-pattern>/register.do</url-pattern>		
	</servlet-mapping>	

	<servlet-mapping>
		<servlet-name>EmployeeAuthenticateServlet</servlet-name>
		<url-pattern>/authenticate.do</url-pattern>		
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>EmployeeHomeServlet</servlet-name>
		<url-pattern>/home.do</url-pattern>		
	</servlet-mapping>		
	
	<error-page>
		<error-code>500</error-code>
		<location>/error.html</location>	
	</error-page>
</web-app>